<% @songs.each do |song| %>
<h1>
<%= song.title %>
<%= song.release_year %>
<%= song.artist_name %>
<%= link_to "View Song", song %>
<%= link_to "Edit Song", edit_song_path(song) %>
<%= button_to 'Delete Song', song, :method  => :delete %>
</h1>
<% end %>
