<%= @song.title %>
<%= @song.released %>
<%= @song.release_year %>
<%= @song.artist_name %>
<%= @song.genre %>

<a data-confirm="Really?" rel="nofollow" data-method="delete" href="/people/1">Delete</a>
